<form accept-charset="UTF-8" action="create" method="new"> 
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 <label for="username">username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="email">email:</label>
  <input type="text" id="email" name="email"><br><br>
   <label for="password">password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>