<form action="/users" method="post">
<div>
<label for="username">username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="email">email:</label>
  <input type="text" id="email" name="email"><br><br>
   <label for="password">password:</label>
  <input type="password" id="password" name="password"><br><br>
  <%= form_tag('/users') do -%>
  <div><%= submit_tag 'Submit' %></div>
<% end -%>
</div>
</form>